<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
     <div class="greeting">
        <div>こんにちは、
        <%= link_to "@name", root_path, class: :greeting__link%>
        </div>
     </div>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>
